/.cursor/*
!/.cursor/rules/
!/.cursor/rules/**
/.vercel/
/node_modules/
/dist/
/build/
.env
.env.local
.env*.local
*.log
*.tmp
*.swp
Thumbs.db
Desktop.ini

# Временные файлы Excel (lock)
~$*.xlsx
~$*.xlsm
.vercel
